.place {
  max-width: 984px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  gap: 48px 40px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    gap: 48px 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 445px) {
  .place {
    max-width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 32px;
    padding-bottom: 50px;
  }
}
