.page__conteiner {
  max-width: 1280px;
  min-width: 320px;
  /*max-height: 6875px;
  min-height: 6875px;*/
  margin: 0 auto;
}

/*@media screen and (max-width: 1024px) {
  .page__conteiner {
    max-width: 1024px;
    padding: 0 0 27px;
  }
}*/
